
{# templates/program/show.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}Série #{{ program.id }}{% endblock %}

{% block body %}
    <div class="media">
        <img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
        <div class="media-body">
            <h1 class="mt-0">{{ program.title }}</h1>
            <p>{{ program.summary }}</p>
            <p>Catégorie : {{ program.category.name }}</p>

        </div>
    </div>
    <strong>Acteurs :</strong>
    <ul>
        {% for actor in program.actors %}
            <li>{{ actor.name }} </li>
        {% else %}
            <li>Aucun acteur pour cette série</li>
        {% endfor %}
    </ul>

    {% for season in program.seasons %}
        <p>Saison n°{{ season.number }} sortie en {{ season.year }}</p>
        <p>Description de la saison :{{ season.description }}</p>
        <a href="{{ path("program_season_show", { program_id: program.id, season_id: season.id }) }}">Voir la fiche</a>
    {% endfor %}

    <a href="{{ path('program_index') }}">
        Retour à la liste des programmes
    </a>

{% endblock %}