{% extends 'base.html.twig' %}

{% block title %}{{ program.title }} saison {{season.id}} {% endblock %}

{% block body %}
    {% dump(season) %}
<h1>{{ program.title }}</h1>
   résumé: <p>{{ program.summary }}</p>
    <h2>Saison {{season.id}} anné  {{ season.year }}</h2>
    <p>liste des épisodes :</p>
    <ul>
    {% for episode in season.episodes %}
        <a href="{{ path("program_episode_show", { program_id: program.id, season_id: season.id , episode_id: episode.id }) }}"> <li>Episode {{ episode.number }} : {{ episode.title}}</li>
        </a>



    {% endfor %}
    </ul>
    <a href="{{ path('program_index') }}">
        Retour à la liste des programmes
    </a>
{% endblock %}